<html ng-app='main'>

<head>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="bundle.css" rel="stylesheet">

</head>

<body>
<div ng-controller='windowShows'>
    <!-- Your site -->
    <div class="navbar navbar-inverse" ng-controller='nav'>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)">Git Compare</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            
            <form class="navbar-form navbar-left" ng-submit='add()'>
                <input type="text" class="form-control col-lg-8 " placeholder="Github Username" ng-model='addUser'   ng-show='state.start'>
            </form>
            <ul class="nav navbar-nav"  ng-show='state.start'>
                <li><a href="javascript:void(0)" ng-click='add()'>Add Username</a></li>
            </ul>
            <ul class="nav navbar-nav"  ng-show='state.app'>
                <li><a href="javascript:void(0)" ng-click='back()'>Back</a></li>
            </ul>

            
        </div>
    </div>
<div class='container'>
    <div class='row' ng-controller='home' ng-show='state.start'>
        <div class='col-lg-8 col-xs-8 col-sm-8'>
            <div class="alert alert-dismissable">
                <h1>User List</h1>
                <table class="table table-striped table-hover ">
                    <tbody>
                        <tr ng-repeat='user in users'>
                            <td>{{$index + 1}}</td>
                            <td>{{user.username}}</td>
                            <td><a class='btn btn-danger' ng-click='remove($index)'>Remove</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class='col-lg-4 col-xs-4 col-sm-4 start-box'>
            <div class='alert alert-dismissable'>
                <a class='btn btn-success' ng-click='start()'>Start</a>
            </div>
        </div>
    </div>

    <div ng-controller='mainApp' ng-show='state.app'>
        <div class='row'>
            <div class='col-lg-6 col-xs-12 col-sm-6' ng-repeat='user in users'>
                <div class='well infobox'>
                    <h3><img ng-src='{{user.avatar}}' class='circle avatar'> {{user.username}}</h3>
                    <hr>
                    <table class="table table-striped table-hover ">
                        <tbody>
                            <tr>
                                <td>Number of Repos</td>
                                <td>{{user.repoCount}}</td>
                            </tr>
                            <tr>
                                <td>Favorite Language</td>
                                <td>{{user.topLanguage}}</td>
                            </tr>
                            <tr class='success'>
                                <td>Most Watched Project</td>
                                <td>{{user.mostWatchedProject.project}}</td>
                            </tr>
                            <tr class='success'>
                                <td>Watchers</td>
                                <td>{{user.mostWatchedProject.count}}</td>
                            </tr>
                            <tr  class='active' ng-hide='user.mostIssues.open_issues_count == 0'>
                                <td>project with most issues</td>
                                <td>{{user.mostIssues.name}}</td>
                            </tr>
                            <tr class='active' ng-hide='user.mostIssues.open_issues_count == 0'>
                                <td># of Issues</td>
                                <td>{{user.mostIssues.open_issues_count}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <a class='btn btn-info btn-xs btn-raised' href='http://github.com/{{user.username}}'>View Github</a>
                </div>
            </div>
        </div>
    </div>



</div>


</div>
    <!-- Your site ends -->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src='https://cdn.firebase.com/js/client/1.1.1/firebase.js'></script>
    <script src='https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js'></script>
    <script src="bundle.js"></script>
    

</body>

</html>
